<article class="news-intro">
    {% if record.image!="" %}
        <div class='imageholder'><img src="{{ record.image|thumbnail(120, 120) }}">
        </div>
    {% endif %}

    <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
    <p class="meta">Placed on {{ record.date|date("M jS Y")}}</p>

    {{ record.teaser }}

    <p class="read-more"><a href="{{ record.link }}">Read more »</a></p>
</article>