<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    {% if app.config.general.debug == true or app.request.server.get("PARAM1") == "STAGING" %}
        <meta content="NOINDEX,NOFOLLOW" name="ROBOTS">
    {% endif %}
    <title>{% if record.title is defined %}{{ record.title|striptags }} - {% endif %}{{ app.config.general.sitename }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/favicon.ico" type="images/ico" rel="SHORTCUT ICON">
    <link rel="stylesheet" href="/css/layout.css"/>
    {% if app.config.general.debug != true and app.request.server.get("PARAM1") != "STAGING" %}
        <!-- Google Code for Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37714531-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</head>

<body>
    {% if app.config.general.debug == true %}
        <div class="top-notice development">!! DEVELOPMENT VERSION !!</div>
    {% elseif app.request.server.get("PARAM1") == "STAGING" %}
        <div class="top-notice staging">!! TEST VERSION !!</div>
    {% endif %}

    {% block body_content %}
    <div id="upbg"></div>
    <div id="outer">
        <div id="header">
            <div id="headercontent">
                <h1>
                    <a href="/" title="Zobriuz">Zobriuz</a>
                </h1>

                <h2>
                    Webdevelopment stuff by Richard Hinkamp
                </h2>
            </div>
        </div>
        <div id="headerpic"
             {#{% if header_image.url %}style="background-image: url({{ header_image.url }}); background-position: top {{ header_image.align }};"{% endif %}#}></div>
        <div id="menu">
            {{ menu() }}
        </div>
        <div id="menubottom"></div>
        <div id="content">
            {% block content %}
                <div id="primarycontainer">
                    <div id="primarycontent">
                        {% block primarycontent %}
                            {% block page_content %}{% endblock %}
                            {# {% block social_tools %}
                                <div id="social-tools">
                                    <div id="fb-root"></div>
                                    <script type="text/javascript">(function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) {
                                            return;
                                        }
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, "script", "facebook-jssdk"));</script>
                                    <div class="button fb-like"
                                         data-href="{{ request.protocol }}://{{ request.host }}{{ request.url }}" data-send="false"
                                         data-layout="box_count" data-show-faces="false"></div>
                                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{
                                        lang: 'nl'
                                    }</script>
                                    <div class="button google-plusone">
                                        <g:plusone size="tall"></g:plusone>
                                    </div>
                                    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                                    <div class="button"><a href="https://twitter.com/share" class="twitter-share-button"
                                                           title="Tweet" data-text="{{ page.title }}" data-count="vertical"
                                                           data-via="RichardHinkamp">Tweet</a></div>
                                </div>
                            {% endblock %} #}
                            {% block footercontent %}
                                {% if page.footer_html is defined %}
                                    {% autoescape false %}{{ page.footer_html }}{% endautoescape %}
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
                <div id="secondarycontent">
                    <aside>
                        {% setcontent about = "page/about" %}

                        {# check if there's a page with slug 'about' #}
                        {% if about.title is defined %}
                            {% include 'layout/box/about.twig' with {'title': about.title, 'about_text': about.introduction|raw} only %}
                        {% endif %}

                        {% setcontent entries = "blogs/latest/5" %}

                        {% include 'layout/box/blog.twig' with {'title': 'Latest blogs', 'items': entries, 'link': '/blogs'} only %}

                    </aside>
                </div>
            {% endblock %}
        </div>
        <div id="footer">
            <div class="left">
                &copy; {{ "now"|date("Y") }} Zobriuz / Richard Hinkamp
            </div>
            <div class="right">
                Design by <a href="http://www.nodethirtythree.com/" title="Design By NodeThirtyThree Design">NodeThirtyThree Design</a> -
                This site is powered by <a href="http://bolt.cm" target="_blank">Bolt</a>: Sophisticated, lightweight & simple CMS.
            </div>
        </div>
    </div>
    {% endblock %}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block js_files %}{% endblock %}

</body>

</html>

